
@{
    ViewData["Title"] = "Advice";
}


<style>

    .bg {
        background: url('../images/accounting.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        width: 100%;
        height: 100%;
        /* adjust the height according to the length of contents */
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0.2;
    }

    .genText {
        padding: 10px;
        margin: 10px;
        color: black;
    }

    .genText, p {
    }

    .contextImage {
        float: left;
        padding: 0px 20px 0px 0px;
    }

    .contextImage, figure {
    }
</style>
<div class="bg"></div>

<div class="container" style="color:rgb(239, 235, 235)">

    <h2>Tax Advice</h2>

    <br />
    <div class="contentSection">
        <div class="contextImage">
            <figure class="figure">
                <img src="/images/consultation.jpg" width="200px;" class="figure-img img-fluid rounded" alt="Planning.">
                <figcaption class="figure-caption">Luck favors the prepared</figcaption>
            </figure>
        </div>
        <div class="genText">
            <p>
                Tons of rules. Tons of terms. Where's an accountant when you need one?

                Right here.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>

    <div class="contentSection">
        <div class="contextImage">
            <figure class="figure">
                <img src="/images/planning.jpg" width="200px;" class="figure-img img-fluid rounded" alt="Planning.">
                <figcaption class="figure-caption">Luck favors the prepared</figcaption>
            </figure>
        </div>
        <div class="genText"> 
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
</div>
