
@{
    ViewData["Title"] = "Audit";
}

<style>

    .bg {
        background: url('../images/deal3.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        width: 100%;
        height: 300%;
        /* adjust the height according to the length of contents */
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0.2;
    }

    .genText {
        padding: 10px;
        margin: 10px;
    }

    .genText, p {
    }

    .contextImage {
        float: left;
        padding: 0px 20px 0px 0px;
    }

    .contextImage, figure {
    }
</style>
<div class="bg"></div>

<div class="container">

    <h2>Audit Defense</h2>

    <br />


    <div class="contentSection">
        <div class="contextImage">
            <figure class="figure">
                <img src="/images/justice.jpg" width="200px;" class="figure-img img-fluid rounded" alt="A gavel.">
                <figcaption class="figure-caption">Don't get caught on the wrong side of the hammer</figcaption>
            </figure>
        </div>
        <div class="genText">
            <p>
                Earn more than ten million a year? File your returns from outside of the country? Been making lots of mistakes when you file?

                The first two might be reserved for the less than one percent... But mistakes are common to us all. If this happens to you,

                we can help.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>

    <div class="contentSection">
        <div class="contextImage">
            <figure class="figure">
                <img src="/images/gavel.JPG" width="200px;" class="figure-img img-fluid rounded" alt="A gavel.">
                <figcaption class="figure-caption">Don't get caught on the wrong side of the hammer</figcaption>
            </figure>
        </div>
        <div class="genText"> 
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
</div>