@model Taxology.Site.Models.ProductListModel

@{
    ViewData["Title"] = "Index";
}
<link href="~/css/productSlider.css" rel="stylesheet" /> 
 
<div class="container">
    <h2>Taxology Products</h2>
    <br/>
    <br/>
    <div class="row">
        <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        @foreach (var item in Model.Products)
                        {
                            @await Html.PartialAsync("ProductCard", item)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

