@model int

<h2 style="margin:0px;">@Model Items in cart</h2>
@* <br /> *@
@* <ul class="fa-ul col-md-12"> *@
@*     @foreach (var article in Model) *@
@*     { *@
@*         <li> *@
@*             <i class="fa-li fa fa-spoon"></i> *@
@*             <a asp-controller="Stores" *@
@*                asp-action="Details" *@
@*                asp-route-id="@article.Id" class="outstandingLink">@article.StoreName</a> *@
@*         </li> *@
@*     } *@
@* *@
@* </ul> *@