

@{
}
@section head
    {
    <link rel="stylesheet" href="~/css/About.css" />
}

    <div class="bgb">
    </div>

    <div class="container-fluid">

        <div class="row">
            <h1 class="text-center"> <span>Our Team</span></h1>
        </div>
        <div class="row">
            <h2 class="text-center">
                <span> We are a tight knit <strong>team</strong> of specialists. Our passions blend to ensure you're money is</span>
                <span><strong>secure</strong></span>
            </h2>
        </div>
        <section>

            <div class="row" style="padding: 30px;">
                <div class="col-md-2"> </div>
                <div class="col-md-4">
                    <div class="card profile-card-2">
                        <div class="card-img-block">
                            <img class="img-fluid" src="~/images/signupcode.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body pt-5">
                            <img src="https://randomuser.me/api/portraits/women/21.jpg" alt="profile-image" class="profile" />
                            <h5 class="card-title">Savannah Smalls</h5>
                            <small>Software Engineer</small>
                            <p class="card-text">Coder, avid pokemon player, sometimes confuses her ggplots, dplyrs, purrrs, metapods and lodashs. </p>
                            <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a></div>
                        </div>
                    </div> 
                </div>
                <div class="col-md-4">
                    <div class="card profile-card-2">
                        <div class="card-img-block">
                            <img class="img-fluid" src="~/images/creative.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body pt-5">
                            <img src="https://randomuser.me/api/portraits/women/22.jpg" alt="profile-image" class="profile" />
                            <h5 class="card-title">Charity Lagan</h5>
                            <small>Creative Designer</small>
                            <p class="card-text">
                                Life is about love and laughter and filled with
                                <span style="color: blue">C</span>
                                <span style="color: goldenrod">O</span>
                                <span style="color: red">L</span>
                                <span style="color: purple">O</span>
                                <span style="color: green">R</span> 
                                .
                                
                                And shoes.
                            </p>
                            <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a></div>
                        </div>
                    </div> 
                </div>
                <div class="col-md-2"> </div>
            </div>


            <div class="row" style="padding: 30px;">
                <div class="col-md-2"> </div>
                <div class="col-md-4">
                    <div class="card profile-card-2">
                        <div class="card-img-block">
                            <img class="img-fluid" src="~/images/accounting.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body pt-5">
                            <img src="https://randomuser.me/api/portraits/men/20.jpg" alt="profile-image" class="profile" />
                            <h5 class="card-title">George Pappas</h5>
                            <small>Accountant</small>
                            <p class="card-text">Has an incredibly clean desk - if you don't count the loukoumades crumbs.</p>
                            <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a></div>
                        </div>
                    </div> 
                </div>
                <div class="col-md-4">
                    <div class="card profile-card-2">
                        <div class="card-img-block">
                            <img class="img-fluid" src="~/images/justice.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body pt-5">
                            <img src="https://randomuser.me/api/portraits/women/2.jpg" alt="profile-image" class="profile" />
                            <h5 class="card-title">Shelia Biggs</h5>
                            <small>Tax Lawyer</small>
                            <p class="card-text">Fast talker, she finds a way to compress three conversations into one, all while making everyone elses head nod in agreement.</p>
                            <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a></div>
                        </div>
                    </div> 
                </div>
                <div class="col-md-2"> </div>
            </div>



            <div class="row" style="padding: 30px;">
                <div class="col-md-2"> </div>
                <div class="col-md-4">
                    <div class="card profile-card-2">
                        <div class="card-img-block">
                            <img class="img-fluid" src="https://images.pexels.com/photos/870903/pexels-photo-870903.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" alt="Card image cap">
                        </div>
                        <div class="card-body pt-5">
                            <img src="https://randomuser.me/api/portraits/men/64.jpg" alt="profile-image" class="profile" />
                            <h5 class="card-title">Anthony Hunt</h5>
                            <small>Appraiser</small>
                            <p class="card-text">Heros solve villains. Anthony solves property assessments.</p>
                            <div class="icon-block"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"> <i class="fa fa-twitter"></i></a><a href="#"> <i class="fa fa-google-plus"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4"> 
                </div>
                <div class="col-md-2"> </div>
            </div> 
        </section> 
    </div>

 




 